html, body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.painel{
    display: flex;
}
.cartao, .cartao_curriculo {
    width: 12.6rem;
    height: 27.3rem;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 0.7rem;
    border: 0.15rem #67727a solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
 }
 .cartao_curriculo{
    width: 38.5rem;
 }
 .titulo {
    margin: 0 0 1rem 0;
 }
img {
    width: 12.5rem;
    height: 16.5rem;
}
footer{
    display: flex;
    justify-content: space-between;
}
button{
    color: #dfeaf2;
    padding: 0.3rem 2rem;
    background-color: #7494ad;
    border: none;
}
